/* ======= common css style start ======= */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Urbanist", sans-serif;
}
ul,ol{
    list-style-type: none;
}
a{
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6,p{
    line-height: 0.8;
}
.container{
    width: 1240px;
    margin: 0 auto;
}
/* ======= common css style end ======= */

/* ======= navbar css style start ======= */
#navbar{
    padding: 23px 0;
    background-color: rgba(255, 255, 255, 0.20);
    backdrop-filter: blur(2px);
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
}
.navWrapper{
    display: flex;
    align-items: center;
}
.logo{
    width: 20%; 
}
.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    width: 60%; 
}
.menu li a{
    color: #606D93;
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
    transition: all linear 0.3s;
}
.menu li a:hover{
    color: #192252;
    
}
.navBtn{
    display: flex;
    justify-content: flex-end;
    width: 20%;
}
.navBtn a{
    display: inline-block;
    background-color: #6345D5;
    border-radius: 8px;
    padding: 16px 40px;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    transition: all linear 0.3s;
}
.navBtn a:hover{
    background-color: #fff;
    color: #6345D5;
}
/* ======= navbar css style end ======= */

/* ======= banner css style start ======= */

.shape1{
    position: relative;
}
.shape1 img{
    position: absolute;
    top: 0;
    right: 0;
}
.shape2{
    position: relative;
}
.shape2 img{
    position: absolute;
    top: 100px;
    right: 0;
}
.shape3{
    position: relative;
}
.shape3 img{
    position: absolute;
    top: 140px;
    left: 0;
}
.bannerWrapper{
    display: flex;
    gap: 54px;
    padding-top: 215px;
    padding-bottom: 660px;
}
.bannerDesc{
    width: 503px;
    position: relative;
    z-index: 999;
}
.bannerDesc h1{
    color: #192252;
    font-size: 80px;
    font-weight: 700;
    line-height: 110%;
}
.bannerDesc p{
    max-width: 332px;
    color: #848FAC;
    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
    padding: 40px 0;
}
.bannerBtn{
    display: flex;
    gap: 24px;
}
.bannerBtn a:first-child{
    padding: 20px 40px;
    background-color: #6345D5;
    border-radius: 8px;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.2px;
    display: inline-block;
    transition: all linear 0.3s;
}
.bannerBtn a:first-child:hover{
    background-color: #fff;
    color: #192252;
}
.bannerBtn a:last-child{
    padding: 20px 40px;
    background-color: #fff;
    border-radius: 8px;
    color: #6345D5;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.2px;
    display: inline-block;
    transition: all linear 0.3s;
}
.bannerBtn a:last-child:hover{
    background-color: #6345D5;
    color: #fff;
}
.bannerImg{
    width: 683px;
    position: relative;
    left: 40px;
    z-index: 999;
}
.bannerBigImgBox{
    position: relative;
}
.bannerBigImg{
    width: 100%;
    height: 882px;
    border-radius: 24px;
    background-color: #D9D9D9;
    position: absolute;
    bottom: -422px;
    z-index: 999;
    overflow: hidden;
}
.bannerBigImg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* ======= banner css style end ======= */

/* ======= counter css style start ======= */
#counter{
    background-color: #201353;

    padding-top: 522px;
    padding-bottom: 32px;
}
.counterWrapper{
    padding: 48px;
    background-color: rgba(255, 255, 255, 0.08);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 24px;
}
.counterItem{
    display: flex;
    align-items: center;
    gap: 16px;
    justify-content: center;
    position: relative;
}
.counterItem::after{
    position: absolute;
    content: "";
    right: 0;
    top: 50%;
    height: 32px;
    width: 2px;
    transform: translate(64px,-50%);
    background-color: rgba(255, 255, 255, 0.20);
}
.counterItem:last-child::after{
    background-color: transparent;
}
.counterItem .countnumber{
    color: #fff;
    font-size: 48px;
    font-weight: 700;
    line-height: normal;
}
.counterItem .countTitle{
    color: rgba(255, 255, 255, 0.64);
    font-size: 20px;
    font-weight: 500;
    line-height: normal;
}
.counterItem:first-child{
    justify-content: start;
}
.counterItem:last-child{
    justify-content: end;
}

/* ======= counter css style end ======= */

/* ======= feature css style start ======= */
#feature{
    padding: 100px 0;
    background-color: #201353;
    position: relative;
}
.featureHeading{
    display: flex;
    justify-content: space-between;
}
.featureHeading h2{
    color: #fff;
    max-width: 514px;
    font-size: 52px;
    font-weight: 700;
    line-height: normal;
}
.featureHeading p{
    margin-top: 18px;
    max-width: 555px;
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
    color: rgba(255, 255, 255, 0.64);
}
.featureMain{
    margin-top: 48px;
}
.featureWrapper{
    display: flex;
    gap: 24px;
    flex-direction: column;
}
.featureImg{
    position: absolute;
    bottom: -4px;
    right: 12%;
}
.featureWrapper .transition{
    max-width: 368px;
    border-radius: 16px;
    background-color: #fff;
    padding: 24px;

}
.transitionHeading{
    display: flex;
    align-items: center;
    gap: 16px;
}
.transitionHeading h4{
    color: #192252;
    font-size: 18px;
    font-weight: 600;
    line-height: 150%;
}
.transition p{
    margin-top: 20px;
    color: #848FAC;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
}
.transition .progress{
    margin-top: 24px;
    height: 4px;
    border-radius: 2px;
    background-color: #EFF3FA;
    position: relative;
}
.transition .progress::after{
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    height: 100%;
    width: 50%;
    border-radius: 2px;
    background-color: #6245D5;
    overflow: hidden;
}
.featureWrapper .history{
    max-width: 368px;
    border-radius: 16px;
    border: 1.5px solid #2C1A74;
    padding: 24px;
}
.historyHeading{
    display: flex;
    align-items: center;
    gap: 12px;
}
.historyHeading h4{
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    line-height: 150%;
}
.skilliton1{
    margin-top: 20px;
    width: 307px;
    height: 16px;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.30);
}
.skilliton2{
    margin-top: 10px;
    width: 287px;
    height: 16px;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.15);
}
.skilliton3{
    margin-top: 26px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.30);
}
/* ======= feature css style end ======= */

/* ======= video css style start ======= */
#video{
    padding: 132px 0 140px 0;
}
.videoWrapper{
    display: flex;
    gap: 126px;
    align-items: center;
}
.videoBox{
    width: 600px;
    height: 600px;
    border-radius: 24px;
    background-color: #cdc3c3;
    overflow: hidden;
    position: relative;
}
.videoBox img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.playBtn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    cursor: pointer;
}
.videoDetails{
    width: 514px;
}
.videoDetails .videoTitle{
    font-size: 52px;
    font-weight: 700;
    line-height: normal;
    color: #192252;
}
.videoDetails p{
    color: #848FAC;
    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
    max-width: 421px;
    margin-top: 24px;
}
.videoDetailsList{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.videoDetailsList li{
    color: #192252;
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
}
.videoDetailsList li i{
    color: #219653;
    margin-right: 29px;
}
/* ======= video css style end ======= */

/* ======= brand css style start ======= */
#brand{
    padding-bottom: 62px;
}
.brandHeading{
    color: #848FAC;
    font-size: 24px;
    font-weight: 500;
    line-height: 150%;
    text-align: center;
}
.brandWrapper{
    margin-top: 32px;
    display: flex;
    column-gap: 24px;
    justify-content: center;
}
.brandItem{
    width: 208px;
    text-align: center;
}
.brandItem img{
    width: 60%;
}
/* ======= brand css style end ======= */

/* ======= pricing css style start ======= */
#pricing{
    padding: 100px 0;
}
.pricingHeading{
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}
.pricingHeading h3{
    color: #192252;
    font-size: 52px;
    font-weight: 700;
    line-height: normal;
}
.pricingHeading p{
    color: #848FAC;
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
    margin-top: 24px;
}
.pricingWrapper{
    margin-top: 64px;
    display: flex;
    gap: 80px;
    justify-content: center;
    align-items: flex-start;
}
.packageMain{
    width: 515px;
    display: flex;flex-direction: column;
    row-gap: 24px;

}
.packageItem{
    padding: 24px;
    border-radius: 16px;
    border: 1.5px solid #e0e4ec;
    display: flex;
    gap: 24px;
    align-items: center;
    transition: all linear 0.3s;
}
.packageItem .packageInput{
    height: 24px;
    width: 24px;
}
.packageItem .packageDetails{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.packageDetails .detailsText .packageName{
    display: flex;
    gap: 8px;
    align-items: center;
}
.packageDetails .detailsText .packageName h4{
    color: #192252;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    transition: all linear 0.3s;
}
.packageDetails .detailsText .packageName span{
    color: #219653;
    padding: 4px 12px;
    border-radius: 11px;
    background-color: rgba(33, 150, 84, 0.08);
    font-size: 12px;
    font-weight: 600;
    line-height: normal;
    transition: all l 0.3s;
}
.packageDetails .detailsText p{
    color: #848FAC;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    margin-top: 8px;
    max-width: 236px;
    transition: all linear 0.3s;
}
.priceAmount{
    display: flex;
    align-items: center;
    gap: 6px;
    justify-content: end;
}
.packageDetails .priceAmount .priceNumber{
    color: #192252;
    font-size: 32px;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    transition: all linear 0.3s;
}
.priceAmount .packageDuration{
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    color: #848FAC;
    transition: all linear 0.3s;
}
.packageItem:hover{
    background-color: #6245D5;
    border: 1.5px solid #6245D5;
}
.packageItem:hover .packageDetails .detailsText .packageName h4 , .packageItem:hover .packageDetails .priceAmount .priceNumber{
    color: #fff;  
}
.packageItem:hover .packageDetails .detailsText .packageName span{
    background-color: rgba(255, 255, 255, 0.08);
    color: rgba(255, 255, 255, 0.80);
}
.packageItem:hover .packageDetails .detailsText p , .packageItem:hover .priceAmount .packageDuration{
    color: rgba(255, 255, 255, 0.64);
}


.packageInput input[type='radio']::after{
    margin-top: 10px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    position: relative;
    content: "";
    display: inline-block;
    border: 2px solid #848FAC;
    visibility: visible;
    background-color: #fff;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.packageInput input[type='radio']:checked::after{
    width: 17px;
    height: 17px;
    border-radius: 50%;
    position: relative;
    content: "";
    background-color: #6245D5;
    display: inline-block;
    visibility: visible;
    border: 6px solid #fff;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.planMain{
    width: 525px;
    padding: 55px 48px 70px 52px ;
    border-radius: 16px;
    background-color: #F7F7F7;
}
.planBtn{
    border-radius: 40px;
    background-color: #fff;
    padding: 4px;
    display: inline-block;
}
.planBtn button{
    border: none;
    background-color: transparent;
    padding: 12px 16px;
    color: #848FAC;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
}
.planBtn .active{
    background-color: #FC9770;
    color: #fff;
    border-radius: 22px;
}
.planMain ul{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    row-gap: 52px;
}
.planMain ul li{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.planMain ul li i{
    color: #6245D5;
}
.planMain ul li span{
    color: #192252;
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
}
/* ======= pricing css style end ======= */

/* ======= review css style start ======= */
#review{
    padding: 100px 0;
    background-color: #201353;
}
.reviewWrapper{
    display: flex;
    column-gap: 150px;
}
.reviewMain{
    width: 490px;
}
.reviewMain .reviewHeading h3{
    font-size: 52px;
    font-weight: 700;
    line-height: normal;
    color: #fff;
}
.reviewMain .reviewHeading p{
    margin-top: 24px;
    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
    color: rgba(255, 255, 255, 0.64);
    width: 434px;
}
.reviewMain .reviewText{
    margin-top: 64px;
}
.reviewMain .reviewText p{
    margin-top: 48px;
    font-size: 20px;
    font-weight: 500;
    line-height: 150%;
    color: #fff;
}
.reviewMain .reviewText .reviewer{
    margin-top: 46px;
    margin-bottom: 48px;
    font-size: 20px;
    font-weight: 500;
    line-height: 150%;
    color: rgba(255, 255, 255, 0.64);
    display: inline-block;
}
.reviewImgMain{
    display: flex;
    align-items: center;
    gap: 24px;
}
.reviewImgWrapper{
    display: flex;
    gap: 24px;
}
.reviewImgItem{
    width: 64px;
    height: 64px;
    background-color: #D9D9D9;
    border-radius: 50%;
    overflow: hidden;
}
.reviewImgItem img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.reviewImgItem:nth-child(2){
    opacity: 0.75;
}
.reviewImgItem:nth-child(3){
    opacity: 0.5;
}
.reviewImgItem:nth-child(4){
    opacity: 0.25;
}
.reviewArrow{
    width: 64px;
    height: 64px;
    border: 1.5px solid rgba(255, 255, 255, 0.64);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ContactForm{
    width: 600px;
    padding: 64px 80px;
    background-color: rgba(255, 255, 255, 0.12);
    border-radius: 24px;
}
.ContactForm .formheading{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
}
.ContactForm .formheading h5{
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    line-height: normal;
}
.ContactForm form{
    margin-top: 48px;
}
.ContactForm form .formGroup label{
    font-size: 18px;
    font-weight: 600;
    line-height: 150%;
    color: #fff;
    display: block;
    margin-bottom: 16px;
}
.ContactForm form .formGroup input{
    width: 100%;
    padding: 14px 24px;
    background-color: #fff;
    border-radius: 8px;
    border: none;
    outline: none;
    color: #848FAC;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
}
.ContactForm form .formGroup.message{
    margin-top: 24px;
}
.ContactForm form .formGroup.message textarea{
    height: 80px;
    width: 100%;
    padding: 14px 24px;
    background-color: #fff;
    border-radius: 8px;
    border: none;
    outline: none;
    color: #848FAC;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
}
.ContactForm form .formGroup.btn{
    margin-top: 40px;
    
}
.ContactForm form .formGroup.btn button{
    width: 100%;
    border-radius: 8px;
    background-color: #FC9770;
    padding: 20px 40px;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #fff;
    border: none;
    cursor: pointer;
}
.ContactForm form .formGroup.trial{
    margin-top: 24px;
    text-align: right;
}
.ContactForm form .formGroup.trial a{
    color: rgba(255, 255, 255, 0.64);
    font-size: 14px;
    line-height: 150%;
    font-weight: 400;
}
.ContactForm form .formGroup.trial a span{
    font-weight: 600;
    color: #fff;
    padding-left: 8px;
}
/* ======= review css style end ======= */

/* ======= footer css style start ======= */
#footer{
    padding-top: 100px;
    background-color: #201353;
    padding-bottom: 32px;
}
.footerWrapper{
    display: flex;
    justify-content: space-between;
}
.footerLogo{
    width: 332px;
}
.footerLogo p{
    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
    color: rgba(255, 255, 255, 0.64);
    margin-top: 24px;
}
.footerListMain{
    display: flex;
    gap: 95px;
    justify-content: end;
}
.footerListHeading{
    font-size: 16px;
    font-weight: 700;
    line-height: 150%;
    color: #fff;
}
.footerUl{
    margin-top: 40px;
    display: flex;
    gap: 24px;
    flex-direction: column;
}
.footerUl li a{
    color: rgba(255, 255, 255, 0.80);
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
}
.copyRight{
    border-top: 1px solid #515151;
    margin-top: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;   
}
.copyRight p{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    opacity: 0.5;
}
.socialLink{
    display: flex;
    gap: 16px;
    justify-content: end;
    align-items: center;
}
.socialLinkItem{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #CAC0F3;
    display: flex;align-items: center;
    justify-content: center;
}
.socialLinkItem i{
    color: #fff;
}
/* ======= footer css style end ======= */